.container{
    width: 1280px;
    height: 1626px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f6f7;
}
.top-menu{
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    color: #16a085;
        }
.top-menu-link{
    text-decoration: none;
    padding: 30px;
    color: rgb(22, 160, 134);
    font-weight: bold;
    }
.wallpaper{
    padding: 30px 0px 0px;
    display: inline-block;
    width: 1280px;
    height: 790px;
    margin-left: auto;
    margin-right: auto;
    }
.img-display{
    margin-left: auto;
    margin-right: auto
    width: 1280px;
    height: 790px;
    }
.description{
    text-align: center;
    font-weight: bold;
    font-family: Roboto;
    color: #373737;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    weight: 1059px;
    height: 354px;
    margin-bottom: 41px;
    display: block;
    margin-left: 113px;
    margin-right: 113px;

}
.description-h{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.text-basement{
    text-align: right;
    font-weight: bold;
    padding-top: 41px;
    padding-right: 104px;
}
.basement{
    font-family: Roboto;
    color: #373737;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    text-align: left;
    background-color: #ffffff;
    width: 1280px;
    height: 1626px;
    }
.view button{
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    background-color: #16a085;
    width: 192px;
    height: 51px;
    padding: 0px;
    display: block;
    }
.description-bottom{
    margin-bottom: 41px;
}
.view-text-button{
    color: white;
    background-color: #16a085;
    width: 192px;
    height: 51px;
    text-transform: uppercase;
    border-radius: 5px;
    border: 0px;
}